<div class="footer">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <h2>Nos partenaires :</h2>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li> Ministère des Arts et de la Culture </li>
                        <li> Ministère de la jeunesse et de l'éducation civique </li>
                        <li> Ministère du Tourisme et des Loisirs </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
