<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.competition.home.title">Competitions</span>

        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competition" [routerLink]="['/competition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testApp.competition.home.createLabel">
            Create a new Competition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="competitions?.length === 0">
        <span jhiTranslate="testApp.competition.home.notFound">No competitions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="competitions && competitions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="testApp.competition.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="testApp.competition.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="testApp.competition.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="testApp.competition.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreParticipant"><span jhiTranslate="testApp.competition.nombreParticipant">Nombre Participant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let competition of competitions ;trackBy: trackId">
                    <td><a [routerLink]="['/competition', competition.id, 'view']">{{ competition.id }}</a></td>
                    <td>{{ competition.nom }}</td>
                    <td>{{ competition.description }}</td>
                    <td>{{ competition.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ competition.dateFin | date:'mediumDate' }}</td>
                    <td>{{ competition.nombreParticipant }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/competition', competition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" type="submit"
                                    [routerLink]="['/competition', competition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" type="submit" (click)="delete(competition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="competitions && competitions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
