<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.jeux.home.title">Jeuxes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jeux" [routerLink]="['/jeux/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testApp.jeux.home.createLabel">
            Create a new Jeux
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jeuxes?.length === 0">
        <span jhiTranslate="testApp.jeux.home.notFound">No jeuxes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jeuxes && jeuxes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="testApp.jeux.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="testApp.jeux.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="testApp.jeux.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="concepteur"><span jhiTranslate="testApp.jeux.concepteur">Concepteur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prix"><span jhiTranslate="testApp.jeux.prix">Prix</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="meilleurScore"><span jhiTranslate="testApp.jeux.meilleurScore">Meilleur Score</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lienTelechargement"><span jhiTranslate="testApp.jeux.lienTelechargement">Lien Telechargement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lienJouer"><span jhiTranslate="testApp.jeux.lienJouer">Lien Jouer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="competitionId"><span jhiTranslate="testApp.jeux.competition">Competition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jeux of jeuxes ;trackBy: trackId">
                    <td><a [routerLink]="['/jeux', jeux.id, 'view']">{{ jeux.id }}</a></td>
                    <td>{{ jeux.nom }}</td>
                    <td>{{ jeux.description }}</td>
                    <td>{{ jeux.dateCreation | date:'mediumDate' }}</td>
                    <td>{{ jeux.concepteur }}</td>
                    <td>{{ jeux.prix }}</td>
                    <td>{{ jeux.meilleurScore }}</td>
                    <td>{{ jeux.lienTelechargement }}</td>
                    <td>{{ jeux.lienJouer }}</td>
                    <td>
                        <div *ngIf="jeux.competitionId">
                            <a [routerLink]="['/competition', jeux.competitionId , 'view']" >{{ jeux.competitionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/jeux', jeux.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/jeux', jeux.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jeux)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jeuxes && jeuxes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
