<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="testApp.match.detail.title">Match</span> {{ match.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testApp.match.dateMatch">Date Match</span></dt>
                <dd>
                    <span>{{ match.dateMatch }}</span>
                </dd>
                <dt><span jhiTranslate="testApp.match.competition">Competition</span></dt>
                <dd>
                    <div *ngIf="match.competitionId">
                        <a [routerLink]="['/competition', match.competitionId, 'view']">{{ match.competitionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
