<div class="row">
    <div class="col-md-1">
        
    </div>

    <div class="col-md-10">
        <div class="center" style="text-align: center;">
            <div class="row">
                <div class="col-md-6">
                    <label>Chercher un jeu :</label>
                    <input type="search" placeholder="Chercher un jeu"><button>OK</button>
                </div>
                <div class="col-md-6">
                    <a href="">Découvrir de nouveau jeux</a>
                </div>
            </div><br>
            <img src="../../content/images/logo.jpeg" alt="Hiragge-Liwna"><br>
            <h1 class="display-4" >Bienvenu sur Hiragge-Liwna</h1>
    
            <p class="lead">La platforme qui vous donne accès à divers jeux de la culture Tupuri</p>    
        </div>
    </div>
    <div class="col-md-1">
        
    </div>
</div>
