<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.decouverte.home.title">Decouvertes</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jeuxes?.length === 0">
        <span jhiTranslate="testApp.jeux.home.notFound">No jeuxes found</span>
    </div>

    <hr width="2"/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row" *ngIf="jeuxes && jeuxes.length > 0">
                <div class="col-md-3" *ngFor="let jeux of jeuxes ;trackBy: trackId">
                    <div class="card" style="width: 18rem;">
                        <img [src]="'data:' + jeux.logoContentType + ';base64,' + jeux.logo" style="max-width: 100%;" alt="jeux image" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">{{ jeux.nom }}</h5>
                            <button type="submit"
                                    [routerLink]="['/jeux', jeux.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" >Détails</span>
                            </button>
                        </div>
                      </div>
                </div>
            </div>
        
        </div>
        <div class="col-md-1"></div>
    </div>

    <div *ngIf="jeuxes && jeuxes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>

    <!--<div class="alert alert-warning" id="no-result" *ngIf="decouvertes?.length === 0">
        <span jhiTranslate="testApp.decouverte.home.notFound">No decouvertes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="decouvertes && decouvertes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let decouverte of decouvertes ;trackBy: trackId">
                    <td><a [routerLink]="['/decouverte', decouverte.id, 'view']">{{ decouverte.id }}</a></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/decouverte', decouverte.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="decouvertes && decouvertes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>-->
</div>
